<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="valet.digikom.com.valetparking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/setting" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddCarActivity"
            android:label="@string/checkin"
            android:parentActivityName=".Main2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AddCarTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddCarActivity" />
        </activity>
        <activity
            android:name=".ParkedCarDetailActivity"
            android:label="@string/title_activity_parked_car_detail"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="valet.digikom.com.valetparking.Main2Activity" />
        </activity>

        <receiver android:name=".EntryCheckoutReceiver" />
        <receiver android:name=".CheckoutReceiver" />

        <activity
            android:name=".CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="valet.digikom.com.valetparking.Main2Activity" />
        </activity>
        <activity android:name=".PrinterActivity"
            android:label="@string/setup_printer"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="valet.digikom.com.valetparking.Main2Activity" />
        </activity>

        <activity
            android:name=".DiscoveryActivity"
            android:label="@string/discovery"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>